header {
  background: linear-gradient(180deg, #b5c7fe, transparent);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav img {
  max-width: 150px;
}
nav li:not(.welcome-msg) {
  background: #233cc1;
  padding: 5px 15px;
  margin: 10px;
  border: 1px solid #233cc1;
  border-radius: 25px;
  cursor: pointer;
}
nav .li:not(.welcome-msg) {
  background: #233cc1;
  padding: 5px 15px;
  margin: 10px;
  border: 1px solid #233cc1;
  border-radius: 25px;
  cursor: pointer;
}

nav a {
  font-weight: 700;
  font-size: 18px;
  color: white;
}
.guest,
.user {
  display: inline-flex;
  align-items: center;
}

.guest li,
.user li {
  display: inline-flex;
  margin-right: 10px;
}

.guest li a,
.user li a {
  text-decoration: none;
}

.guest .li,
.user .li {
  display: inline-flex;
  margin-right: 10px;
}

.guest .li a,
.user .li a {
  text-decoration: none;
}

li.welcome-msg:hover,
a.logo:hover {
  background-color: transparent !important;
}

.menu-trigger {
  padding: 0px 40px;
}
.menu-icon {
  color: #233cc1;
}

.dropdowm-menu {
  position: relative;
  z-index: 1;
}
.dropdowm-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(-90px);
  transition: 0.5s ease;
}
.dropdowm-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-140px);
  transition: 0.5s ease;
}

/* Mobile */
@media only screen and (max-width: 991px) {
  .desktop-navbar {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
}

/* DESKTOP */
@media only screen and (min-width: 992px) {
  .desktop-navbar {
    display: inline-block;
  }

  .mobile-menu {
    display: none;
  }
}
