.caledar {
  display: flex;
  flex-wrap: wrap;
  overflow-y: hidden;
  margin: auto;
  margin: 20px 40px;
}
.monthName {
  text-align: center;
  margin-top: 20px;
}
.monthName h3 {
  border-radius: 25px;
  padding: 15px 0px;
}
.week {
  display: flex;
  justify-content: space-evenly;
}

.category-cards {
  display: flex;
  justify-content: space-between;
  margin: 50px 0px;
  align-items: center;
  overflow: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.add-category-btn {
  margin-right: 20px;
  align-items: center;
}

.fade-in {
  width: 1px;
  opacity: 0;
  transition: all 0.75s ease;
}
/* form {
  display: none;
} */
.fade-in.show {
  display: block;
  opacity: 1;
  width: 450px;
}

.addCategoryInput {
  border: 1px solid grey;
  border-radius: 25px;
  padding: 5px 20px;
}

a.add-plus-btn {
  width: fit-content;
}

.show {
  display: flex !important;
  flex-direction: column;
  text-align: center;
}

/* form.show {
  display: flex;
} */

.show h3 {
  margin: 10px;
}

.btns {
  text-align: center;
  margin: 20px;
}

.btns input {
  margin-right: 20px !important;
}

.kanban-container {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.calendar-arrow {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.category-cards::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.calendar-slider {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.calendar-slider::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.no-tasks {
  margin: 150px auto;
  text-align: center;
}

/* Mobile */
@media only screen and (max-width: 991px) {
  .category-cards,
  .calendar-slider {
    overflow: scroll !important;
  }

  .kanban-container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    -webkit-overflow-scrolling: touch;
  }
  .calendar-arrow {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .add-category-btn {
    width: 300px;
  }

  .btns {
    display: flex;
  }

  .addCategoryInput {
    width: 90%;
    margin: auto;
  }
}
