.category-card {
  border: 1px solid grey;
  border-radius: 25px;
  padding: 20px 30px;
  margin: 0px 30px;
  height: 350px;
  min-width: 400px;
  text-align: center;
  overflow-x: hidden;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.category-card::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.category-card.home {
  background: rgba(181, 199, 254, 0.4);
}
.category-card.work {
  background: rgba(118, 147, 248, 0.4);
}
.category-card.completed {
  background: rgba(35, 60, 193, 0.4);
}
.over {
  background-color: #7693f8;
}

.deleteBtn {
  float: right;
  font-weight: bold;
}

label {
  font-weight: 600;
}

/* Mobile */
@media only screen and (max-width: 991px) {
  .category-card {
    min-width: 300px;
    /* margin: 15px 30px; */
  }
}
